body {
  font-family: 'Amiri', serif;
}

.header{
  display: flex;
  justify-content: flex-end;
}

h1, h2{
  font-size: 50px;
  color: #8C3623;
  text-align: center;

}



nav a{
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: #F2B84B;

}

.h2{
  font-size: 30px;
}


.menu{
  background-color: #CDD6D5;
  background-size: cover;
}

.brief{
  display: inline-block;
  background-color:  #F2B84B;
  background-size: cover;
}

.container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #CDD6D5;
  align-content: center;

}

.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img1, .img2, .img3{
  top: 20px;
  height: 250px;
  width: 400px;
}

.centered{
  position: relative;
  z-index: 1;
  background-color: #F2B84B;
  opacity: 0.75;
  left: 50%;
  bottom: 50%;
  height: 50px;
  width: 100px;
  text-align: center;
  color: white;
  border: none;
  font-size: 15px;

}

.centered:hover{
  font-weight: bold;
}
